.contact{
    display: flex;
    justify-content: center;
 }
 .contact div{
     margin-right: 20px;
     width: 300px;
     border: 1px solid gray;
     border-radius: 20px;
 }
 .contact div p,h4,h3{
  text-align: center;
 }